# Discord
Bot_Token=your-bot-token-here
App_ID=your-application-id-here

# Database
Database_URL=sqlite+aiosqlite:///./factcheckbot.db

# External APIs
Factchecker=your-google-api-key-here
Search=your-hackclub-search-key-here
HCAI=your-hackclub-ai-api-key-here

# Cascade tuning
Claim_Dectection_Threshold=0.65
Teir1_Threshold=0.6
Teir3_Limit=20
OCR_Threshold=60
Cache_Expiry=7

# Misc
Log_lvl=INFO
